#container{
    display : flex;
    flex-flow: wrap;
    border: 1px black;
    width: 960px; 
}

.square{
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
}

.squareHover{
    background-color: white;
}

#reset{
    margin-left: 23rem;
}